<div id="dashboard_content" class="page_content">
    <H2>Welcome to BattleDrome Alpha!</H2>
    <p>The long-awaited alpha is here! It was a long road, but we're super-excited to have the alpha out in the wild and able
        to be tested by the public!</p>
    <p>Please keep in mind, that the alpha
        <b>WILL HAVE BUGS!</b> It's an Alpha, it's meant to be tested in the wild so we can find the issues/bugs.</p>
    <p>Here is a list of a few things to be aware of going into the test (for a full list of known issues, please see the issues section in the github project):</p>
    <ul>
        <li>The UI is not 100% complete, it's a rough UI for now which just gives the basic functionality. It will be significantly
            improved in future versions.</li>
        <li>The UI does NOT include the graphical spectator engine, this was not planned for this phase, and is planned for a
            later release</li>
        <li>The UI is a bit sluggish. We are aware it's a bit clunky, right now this has to do with some limitations in the underlying
            frameworks. We are expecting a future patch to Web3 and Truffle to allow us a much more elegant way of fetching/syncing/updating
            UI elements from changes in the blockchain.</li>
        <li>Gas prices are high. We know this, we've optimized them heavily in many areas. The big one is in the spectator/polling
            of events. This is compensated in the polling reward, but we do want to reduce the cost in order to improve the
            overal economic efficiency of the game. This will come in future versions (in some cases due to underlying technology
            improvements, in other cases due to further optimization passes we undertake)</li>
        <li>Currently the dialing/balance of the combat/economics are not fully tested. This is a "first stab". We expect to
            tune these parameters throughout the Alpha and Beta in order to achieve a much more balanced set of mechanics
            for the final release.</li>
        <li>YES! We are aware the gender of a warrior is set randomly at creation time, and you have no control. This is intentional...
            What is not intentional is that the name can't be set after creation, (or rather we hadn't realised this was
            an issue until later in alpha development, we WILL fix this, but it's low priority for now, so please use gender
            neutral names if it bugs you!)</li>
        <li>We are aware that the graphical rendering of the warriors has some minor glitches. Again, this was meant to be a
            basic html interface, without any graphics in the original scope, we wanted to add a bit more flair, but the
            fine-tuning of rendering was low-priority for alpha. We will be refining leading up to beta.</li>
    </ul>
    <p>Keeping these things in mind, please get into the game, try it out, and have fun! And don't hesitate to send us your
        feedback via github!</p>
    <p>Since the Alpha code is now open-source, please don't hesitate to give us PRs for improvements if you feel motivated
        to participate. We continue to develop in our private development environment, but will be incorporating PRs and
        bugfixes directly in github. Then when the next major release is merged into the gitlab environment, we'll back-port
        any valuable additions/improvements from the community!</p>
    <H3>Instructions</H3>
    <p>Please follow these instructions to participate in the alpha, and ensure you have a (hopefully) smooth experience:</p>
    <ul>
        <li>Install Metamask in your browser and set it up according their setup instructions</li>
        <li>
            <b>DO NOT</b> use your live ethereum main-net account for interacting with BattleDrome</li>
        <li>Ensure you're targeting the right network. Keep in mind BattleDrome currently runs on the Rinkeby Test Net</li>
        <li>Get some Ether into your account, on Rinkeby this can be done via the Rinkeby Faucet at:
            <a href="https://faucet.rinkeby.io/">https://faucet.rinkeby.io/</a> you need to take the address for an account generated by metamask, and share it
            via Twitter or some other accepted social network, then use the web form to request ether from the faucet.</li>
        <li>Now access this page, ensure your metamask den is unlocked (the page should prompt you with a notice if it is not)</li>
        <li>At this point you can use the tabs at the top of the page to navigate objects such as Warriors and Events, and use
            the Create buttons to begin creating your first Warrior or Event!</li>
    </ul>
    <p>Further instructions will be created during the alpha.</p>
</div>