<div class="modal fade" id="modalCreateEvent" tabindex="-1" role="dialog" aria-labelledby="modalCreateEventTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCreateEventLongTitle">Create New Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ce_warriormin">Minimum Warriors</label>
                        <input type="text" class="form-control" id="ce_warriormin" aria-describedby="warriorminHelp" placeholder="MinWarriors">
                        <small id="warriorminHelp" class="form-text text-muted">Enter the minimum number of warriors required to start the event</small>
                    </div>
                    <div class="form-group">
                        <label for="ce_warriormax">Maximum Warriors</label>
                        <input type="text" class="form-control" id="ce_warriormax" aria-describedby="warriormaxHelp" placeholder="MaxWarriors">
                        <small id="warriormaxHelp" class="form-text text-muted">Enter the maximum number of warriors required to start the event</small>
                    </div>
                    <div class="form-group">
                        <label for="ce_minlevel">Minimum Level</label>
                        <input type="text" class="form-control" id="ce_minlevel" aria-describedby="minlevelHelp" placeholder="MinLevel">
                        <small id="minlevelHelp" class="form-text text-muted">Enter the minimum level of a warrior that can join the event</small>
                    </div>
                    <div class="form-group">
                        <label for="ce_maxlevel">Maximum Level</label>
                        <input type="text" class="form-control" id="ce_maxlevel" aria-describedby="maxlevelHelp" placeholder="MaxLevel">
                        <small id="maxlevelHelp" class="form-text text-muted">Enter the maximum level of a warrior that can join the event</small>
                    </div>
                    <div class="form-group">
                        <label for="ce_minequiplevel">Minimum Equipment Level</label>
                        <input type="text" class="form-control" id="ce_minequiplevel" aria-describedby="minequipHelp" placeholder="MinEquipLevel">
                        <small id="minequipHelp" class="form-text text-muted">Enter the minimum equipment level required to join the event</small>
                    </div>
                    <div class="form-group">
                        <label for="ce_maxequiplevel">Maximum Equipment Level</label>
                        <input type="text" class="form-control" id="ce_maxequiplevel" aria-describedby="maxequipHelp" placeholder="MaxEquipLevel">
                        <small id="maxequipHelp" class="form-text text-muted">Enter the maximum equipment level required to join the event</small>
                    </div>
                    <div class="form-group">
                        <label for="ce_maxpolls">Maximum Poll Count</label>
                        <input type="text" class="form-control" id="ce_maxpolls" aria-describedby="maxpollHelp" placeholder="PollCount">
                        <small id="maxpollHelp" class="form-text text-muted">Enter the maximum number of spectator polls before the event will be declared a stale-mate (if there is no winner)</small>
                    </div>
                    <div class="form-group">
                        <label for="ce_joinfee">Join Fee</label>
                        <input type="text" class="form-control" id="ce_joinfee" aria-describedby="joinfeeHelp" placeholder="JoinFee">
                        <small id="joinfeeHelp" class="form-text text-muted">Enter the fee required (in Finney) for a warrior to join the event</small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="BD.createEvent();">Create!</button>
                    </div>
            </form>
            </div>
        </div>
    </div>