<div class="card-container">
    <div class="card">
        <div class="front">
            <div class="card-header">
                <span class='card-lc badge-status'>
                    <span id="status_statetypestring" class="badge badge-secondary">
                        <span id="data_statestring"></span>
                    </span>
                </span>
                <span id="data_name">Warrior Name</span>
                <span class='badge badge-light'>Lvl:
                    <span id="data_level">0</span>
                </span>
                <img class='flip-icon' src="images/flip.png" onClick="BD.flipCard('{{DIVID}}');">
            </div>
            <canvas width="240" height="350" id="market-image-{{ELEMENTID}}" class="warrior-image card-img-top"></canvas>
            <div class="card-body">
                <div class="warrior-attribute">
                    Balance:
                    <span id='data_balance'></span> Finney
                </div>
                <div class="warrior-attribute">
                    Price:
                    <span id='data_saleprice'></span> Finney
                </div>
            </div>
            <div class="card-footer">
                <div class="progress">
                    <div id="progressbar_xppercent" class="progress-bar bg-info" role="progressbar" style="width: 0%">XP:
                        <span id="data_xp">0</span>/
                        <span id="data_xpnext">0</span>
                    </div>
                </div>
                <div class="progress">
                    <div id="progressbar_hppercent" class="progress-bar bg-danger" role="progressbar" style="width: 0%">HP:
                        <span id="data_hp">0</span>/
                        <span id="data_basehp">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="card-header">
                Sale Info: 
                <span id="data_name">Warrior Name</span> Lvl:
                <span id="data_level">0</span>
                <img class='flip-icon' src="images/flip.png" onClick="BD.flipCard('{{DIVID}}');">
            </div>
            <div class="card-body">
                <div class="warrior-action">
                    <button class="btn btn-primary action-button" onClick="BD.warriorPurchase({{ELEMENTID}});">Purchase Warrior</button>
                </div>
            </div>
        </div>
    </div>
</div>