<div class="card-container">
    <div class="card">
        <div class="front">
            <div class="card-header">
                <span class='card-lc badge-status'>
                    <span id="status_statetypestring" class="badge badge-secondary">
                        <span id="data_statestring"></span>
                    </span>
                </span>
                <span id="data_name">Warrior Name</span>
                <span class='badge badge-light'>Lvl:
                    <span id="data_level">0</span>
                </span>
                <img class='flip-icon' src="images/flip.png" onClick="BD.flipCard('{{DIVID}}');">
            </div>
            <canvas width="240" height="350" id="warrior-image-{{ELEMENTID}}" class="warrior-image card-img-top"></canvas>
            <div class="card-body">
                <div class="warrior-attribute">
                    Balance:
                    <span id='data_balance'></span> Finney
                </div>
            </div>
            <div class="card-footer">
                <div class="progress">
                    <div id="progressbar_xppercent" class="progress-bar bg-info" role="progressbar" style="width: 0%">XP:
                        <span id="data_xp">0</span>/
                        <span id="data_xpnext">0</span>
                    </div>
                </div>
                <div class="progress">
                    <div id="progressbar_hppercent" class="progress-bar bg-danger" role="progressbar" style="width: 0%">HP:
                        <span id="data_hp">0</span>/
                        <span id="data_basehp">0</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="card-header">
                Manage
                <span id="data_name">Warrior Name</span> Lvl:
                <span id="data_level">0</span>
                <img class='flip-icon' src="images/flip.png" onClick="BD.flipCard('{{DIVID}}');">
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#warrior_attribs_{{ELEMENTID}}">Attributes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#warrior_equip_{{ELEMENTID}}">Equipment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#warrior_misc_{{ELEMENTID}}">Misc</a>
                    </li>
                </ul>
                <div id="bd_tabs" class="tab-content">
                    <div id='warrior_attribs_{{ELEMENTID}}' class="tab-pane fade in active show">
                        <div class="warrior-attribute">
                            Points Balance:
                            <span id='data_points'></span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                STR:
                                <span id='data_str'></span>
                            </span>
                            +
                            <span id='buy_str_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyStat({{ELEMENTID}},'str');">-</button>
                                <button class="btn buy-button" onClick="BD.buyStat({{ELEMENTID}},'str');">+</button>
                            </span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                CON:
                                <span id='data_con'></span>
                            </span>
                            +
                            <span id='buy_con_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyStat({{ELEMENTID}},'con');">-</button>
                                <button class="btn buy-button" onClick="BD.buyStat({{ELEMENTID}},'con');">+</button>
                            </span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                DEX:
                                <span id='data_dex'></span>
                            </span>
                            +
                            <span id='buy_dex_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyStat({{ELEMENTID}},'dex');">-</button>
                                <button class="btn buy-button" onClick="BD.buyStat({{ELEMENTID}},'dex');">+</button>
                            </span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                Luck:
                                <span id='data_luck'></span>
                            </span>
                            +
                            <span id='buy_luck_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyStat({{ELEMENTID}},'luck');">-</button>
                                <button class="btn buy-button" onClick="BD.buyStat({{ELEMENTID}},'luck');">+</button>
                            </span>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.purchaseStats({{ELEMENTID}});">Purchase Attribute Upgrades</button>
                        </div>
                    </div>
                    <div id='warrior_equip_{{ELEMENTID}}' class="tab-pane fade">
                        <div class="warrior-attribute">
                            Balance:
                            <span id='data_balance'></span> Finney
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                <span id='data_weapontypestring'>Weapon</span>:
                                <span id='data_weapon'></span>
                            </span>
                            +
                            <span id='buy_weapon_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyEquip({{ELEMENTID}},'weapon');">-</button>
                                <button class="btn buy-button" onClick="BD.buyEquip({{ELEMENTID}},'weapon');">+</button>
                            </span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                Armor (
                                <span id='data_armortypestring'></span> ):
                                <span id='data_armor'></span>
                            </span>
                            +
                            <span id='buy_armor_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyEquip({{ELEMENTID}},'armor');">-</button>
                                <button class="btn buy-button" onClick="BD.buyEquip({{ELEMENTID}},'armor');">+</button>
                            </span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                Shield (
                                <span id='data_shieldtypestring'></span>):
                                <span id='data_shield'></span>
                            </span>
                            +
                            <span id='buy_shield_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyEquip({{ELEMENTID}},'shield');">-</button>
                                <button class="btn buy-button" onClick="BD.buyEquip({{ELEMENTID}},'shield');">+</button>
                            </span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                Potions:
                                <span id='data_potions'></span>
                            </span>
                            +
                            <span id='buy_potions_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyEquip({{ELEMENTID}},'potions');">-</button>
                                <button class="btn buy-button" onClick="BD.buyEquip({{ELEMENTID}},'potions');">+</button>
                            </span>
                        </div>
                        <div class="warrior-attribute">
                            <span class='card-lc'>
                                Int Potions:
                                <span id='data_intpotions'></span>
                            </span>
                            +
                            <span id='buy_intpotions_{{ELEMENTID}}'>0</span>
                            <span class='card-rc'>
                                <button class="btn buy-button" onClick="BD.unbuyEquip({{ELEMENTID}},'intpotions');">-</button>
                                <button class="btn buy-button" onClick="BD.buyEquip({{ELEMENTID}},'intpotions');">+</button>
                            </span>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.purchaseEquip({{ELEMENTID}});">Purchase Equipment</button>
                        </div>
                    </div>
                    <div id='warrior_misc_{{ELEMENTID}}' class="tab-pane fade">
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.nameWarrior({{ELEMENTID}});">
                                Name Warrior
                            </button>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.warriorTogglePractice({{ELEMENTID}});">
                                <span id='data_practicetoggle'></span>
                            </button>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.warriorToggleTeaching({{ELEMENTID}});">
                                <span id='data_teachtoggle'>
                            </button>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.warriorToggleSale({{ELEMENTID}});">
                                <span id='data_saletoggle'>
                            </button>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.warriorStopTraining({{ELEMENTID}});">Finish Training</button>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.warriorRevive({{ELEMENTID}});">Revive</button>
                            <button class="btn btn-primary action-button" onClick="BD.warriorRetire({{ELEMENTID}});">Retire</button>
                        </div>
                        <div class="warrior-action">
                            <button class="btn btn-primary action-button" onClick="BD.warriorDrinkPotion({{ELEMENTID}});">Drink Potion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>